body {
  font-family: Arial, sans-serif;
  background-image: url("https://secure.img1-fg.wfcdn.com/im/50299399/resize-h800%5Ecompr-r85/5896/58965317/Agnon+Removable+Tropical+Palm+Leaves+3.92%2527+L+x+75%2522+W+Peel+and+Stick+Wallpaper+Roll.jpg");
}


h1 {
  color: #8fbbaa;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

a {
  color: #f1f2f2;
}

small {
  color: #f1f2f2;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #f1f2f2;
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.notification {
  font-size: 12px;
  color: #8fbbaa;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #f1f2f2;
  border-radius: 50px;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #8fbbaa;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #8fbbaa;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forcast {
  margin-top: 10px;
}

.weather-forcast h3 {
  color: #8fbbaa;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 25px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forcast img {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 40px;
}

.weather-forcast-temperature {
  text-align: center;
  color: #f1f2f2;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  line-height: 15px;
  white-space: nowrap;
}
